@media (max-width: 991px) {
  .promo, .consultation {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
  .container {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .promo {
    .header {
      flex-direction: column;
      align-items: center;
      &__logo {
        width: 420px;
      }
      &__official {
        padding-top: 50px;
        font-size: 22px;
        span {
          font-size: 23px;
        }
      }
      &__contacts {
        padding-top: 50px;
      }
    }
    &__wrapper {
      align-items: center;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 18px;
    }
  }
  .advantages {
    &__wrapper {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-bottom: 50px;
    }
  }
  .consultation {
    h2 {
      font-size: 20px;
      text-align: center;
    }
    &__descr {
      font-size: 18px;
      margin-top: 25px;
      text-align: center;
    }
    form {
      margin: 50px auto;
      width: 280px;
    }
  }
  .catalog {
    h2 {
      font-size: 25px;
    }
    &__tabs {
      margin-top: 55px;
    }
    &__tab {
      font-size: 15px;
    }
    &__content {
      justify-content: space-around;
    }
  }
  .footer {
    &__info {
      width: 250px;
      height: 150px;
    }
    &__info {
      padding: 20px 68px 60px 68px;
    }
    &__addr {
      font-size: 12px;
      line-height: 13px;
      margin-bottom: 18px;
    }
    &__phone {
      font-size: 13px;
      line-height: 10px;
      margin-bottom: 13px;
    }
    &__social-item {
      border: none;
      margin: 0 20px;
      img {
        height: 20px;
      }
    }
  }
}


@media (max-width: 575px) {
  .promo {
    .header {
      &__logo {
        width: 330px;
      }
      &__official {
        font-size: 18px;
        span {
          font-size: 20px;
        }
      }
      &__contacts {
        padding-top: 50px;
      }
    }
  }
  .consultation {
    h2 {
      font-size: 17px;
    }
    &__descr {
      font-size: 16px;
    }
    form {
      width: 240px;
    }
  }
  .catalog {
    h2 {
      font-size: 18px;
    }
    &__tabs {
      margin-top: 53px;
      flex-direction: column;
      li {
        margin-top: 15px;
      }
    }
    &__tab {
      font-size: 15px;
    }
    &__content {
      justify-content: space-around;
    }
  }
  .feed {
    h2 {
      font-size: 18px;
    }
    &__item {
      flex-direction: column;
      align-items: center;
    }
    &__text {
      margin-top: 50px;
      text-align: center;
    }
  }
  .modal {
    width: 335px;
    height: 350px;
    padding: 38px 25px 30px 22px;
  }
}

@media (max-width: 430px) {
  .promo {
    .header {
      &__logo {
        width: 250px;
      }
    }

    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 15px;
    }

    &__subheader {
      margin-top: 8px;
    }

    &__icons {
      flex-direction: column;
      align-items: center;
    }

    &__icon {
      padding-top: 50px;
      font-size: 18px;
    }
  }
  .advantages {
    h2 {
      font-size: 25px;
    }
  }
  .consultation {
    h2 {
      font-size: 15px;
    }

    &__descr {
      font-size: 15px;
    }

    form {
      width: 240px;
    }
  }
  .feed {
    &__subtitle {
      font-size: 16px;
    }

    &__descr {
      font-size: 14px;
    }
  }
  .footer {
    &__info {
      width: 232px;
    }

    &__info {
      padding: 22px 55px 55px 55px;
    }
  }
  .modal {
    width: 310px;
    height: 320px;
    padding: 26px 6px 16px 5px;
    &__subtitle {
      font-size: 16px;
    }
    &__close {
      right: -16px;
      font-size: 23px;
    }
  }
}

@media (max-width: 350px) {
  .promo {
    &__wrapper {
      margin-top: 75px;
    }

    h1 {
      font-size: 22px;
      line-height: 18px;
    }

    h2 {
      font-size: 13px;
      line-height: 10px;
    }
  }
  .advantages {
    h2 {
      font-size: 22px;
    }
  }
  .consultation {
    h2 {
      font-size: 13px;
    }

    &__descr {
      font-size: 13px;
    }

    form {
      width: 220px;

      button {
        font-size: 13px;
      }
    }
  }
  .feed {
    &__descr {
      font-size: 12px;
    }
  }
  .footer {
    &__info {
      width: 220px;
      height: 130px;
    }
    &__info {
      padding: 15px 45px 50px 45px;
    }
  }
  .modal {
    width: 250px;
    height: 300px;
    padding: 16px 4px 13px 12px;
    &__subtitle {
      font-size: 13px;
    }
    &__descr {
      font-size: 13px;
    }
    &__close {
      right: -25px;
      font-size: 30px;
    }
    form {
      width: 225px;
      button {
        font-size: 14px;
      }
    }
  }

}


